{% extends 'base.html.twig' %}

{% block title %}{{ app_name|capitalize }}{% endblock %}

{% block body %}
    <section>
        <h1 class="shadow text1">{{ app_name|upper }}</h1>
        <h2 class="text2">Request object:</h2>
        <p>
            {{ data|raw }}
        </p>
    </section>
{% endblock %}