{% extends 'base.html.twig' %}

{% block title %}{{ app_name|capitalize }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="h1">{{ app_name|upper }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="h2">Request object:</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <pre>{{ data }}</pre>
            </div>
        </div>
    </div>
{% endblock %}