{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    {% set app_name_title = 'Galera Pr ltd.' %}
    <section class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="plate">
                    <p class="script"><span>Symfony 5.3</span></p>
                    <p class="shadow text1">RabbitMQ</p>
                    <p class="shadow text2">PHP&nbsp;8</p>
                    <p class="shadow text3">REDIS</p>
                    <p class="script"><span>on Nginx</span></p>
                </div>
            </div>
            <div class="row">
                <pre>
                    {{ (data) }}
                </pre>
            </div>
        </div>
    </section>
{% endblock %}
