@import url("https://fonts.googleapis.com/css?family=Arvo:700");
@import url("https://fonts.googleapis.com/css?family=Seaweed+Script");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    //background-color: #222;
    .plate {
      width: 410px;
      margin: 0 auto;
    }
    .shadow {
        color: #fff;
        font-family: Arvo, serif;
        font-weight: bold;
        text-shadow:
            -3px -3px 0 #222,
            3px -3px 0 #222,
            -3px 3px 0 #222,
            3px 3px 0 #222,
            4px 4px 0 #fff,
            5px 5px 0 #fff,
            6px 6px 0 #fff,
            7px 7px 0 #fff;
        line-height: 0.8em;
        letter-spacing: 0.1em;
        transform: scaleY(0.7);
        -webkit-transform: scaleY(0.7);
        -moz-transform: scaleY(0.7);
        margin:0;
        text-align: center;
    }
    .script {
        font-family: "Seaweed Script", serif;
        color: #fff;
        text-align: center;
        font-size: 40px;
        position: relative;
        margin:0;
    }
    .script span {
        background-color: #222;
        padding: 0 0.3em;
    }
    .script:before {
        content:"";
        display: block;
        position: absolute;
        z-index:-1;
        top: 50%;
        width: 100%;
        border-bottom: 3px solid #fff;
    }
    .text1 {
        font-size: 47px;
    }
    .text2 {
        font-size: 124px;
    }
    .text3 {
        font-size: 88px;
    }
    .key-meh {
        background-image: linear-gradient(to right, #8360c3, #2ebf91);
    }
    .dusty-grass {
        background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    }
    .amin {
        background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    }
    .sublime-light {
        background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    }
    .megatron {
        background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    }
    .blue-raspberry {
        background-image: linear-gradient(to right, rgba(0, 180, 219, 1), rgba(1, 123, 165, .99));
    }
    .galera-gradient {
        background-image: linear-gradient(to right, rgba(155, 209, 250, 1), rgba(1, 123, 165, .74));
    }
    .yellow-mango {
        background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
    }
    .stellar {
        background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,.2) 0%, rgba(2,83,185,.2) 100.2% );
    }
    .non-to-dusk {
        background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
    }
    .sunrise {
        background-image: linear-gradient(to right, #ff512f, #f09819);
    }
    .superman {
        background-image: linear-gradient(to right, #0099f7, #f11712);
    }
    .orange-coral {
        background-image: linear-gradient(to right, #ff9966, #ff5e62);
    }
    .deep-sea-space {
        background-image: linear-gradient(to right, #2c3e50, #4ca1af);
    }
    .fifa-bg {
        background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    }
    .fio12 {
        color: rgba(143, 140, 231, 1);
    }
    .bg-galera {
        background: rgba(155, 209, 250, 0.95) !important;
    }
    .galera-color-green {
        color: rgba(176, 229, 124, 0.99) !important;
    }
    .galera-color-lemon {
        color: #ffe37f !important;
        //color: rgba(255, 236, 148, 0.99) !important;
    }
    .galera-color-blue {
        color: #00a8cc !important;
    }
    .galera-color-orange {
        color: #ffa41b !important;
    }
    .galera-color-orange-2 {
        color: #FF6600 !important;
    }
    .galera-color-yellow {
        color: #ffc045 !important;
    }
}
