@import url('https://fonts.googleapis.com/css?family=Arvo:700');
@import url('https://fonts.googleapis.com/css?family=Seaweed+Script');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab|Zilla+Slab+Highlight');

$dark: #222;

body {
    font-family: "Arvo", serif;
    background: #fefefe;
    min-height: 100vh;
    font-size: 2.5em;
    letter-spacing: -1px;
    color: #222;
}