<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        <style>
            * {
                
            }
            html {
                
            }
            @import url(https://fonts.googleapis.com/css?family=Arvo:700);
            @import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
            body {
                background-color: #222;
            }
            .plate {
                width: 410px;
                margin: 10% auto;
            }
            .shadow {
                color: #fff;
                font-family: Arvo, serif;
                font-weight: bold;
                text-shadow:
                        -3px -3px 0 #222,
                        3px -3px 0 #222,
                        -3px 3px 0 #222,
                        3px 3px 0 #222,
                        4px 4px 0 #fff,
                        5px 5px 0 #fff,
                        6px 6px 0 #fff,
                        7px 7px 0 #fff;
                line-height: 0.8em;
                letter-spacing: 0.1em;
                transform: scaleY(0.7);
                -webkit-transform: scaleY(0.7);
                -moz-transform: scaleY(0.7);
                margin:0;
                text-align: center;
            }
            .script {
                font-family: "Seaweed Script", serif;
                color: #fff;
                text-align: center;
                font-size: 40px;
                position: relative;
                margin:0;
            }
            .script span {
                background-color: #222;
                padding: 0 0.3em;
            }
            .script:before {
                content:"";
                display: block;
                position: absolute;
                z-index:-1;
                top: 50%;
                width: 100%;
                border-bottom: 3px solid #fff;
            }
            .text1 {
                font-size: 60px;
            }
            .text2 {
                font-size: 169px;
            }
            .text3 {
                font-size: 100px;
            }
            .text-title-shadow {
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%,-50%);
                text-transform: uppercase;
                font-family: 'Verdana', monospace;
                font-size: 12em;
                font-weight: 700;
                color: #f5f5f5;
                text-shadow: 1px 1px 1px #919191,
                1px 2px 1px #919191,
                1px 3px 1px #919191,
                1px 4px 1px #919191,
                1px 5px 1px #919191,
                1px 6px 1px #919191,
                1px 7px 1px #919191,
                1px 8px 1px #919191,
                1px 9px 1px #919191,
                1px 10px 1px #919191,
                1px 18px 6px rgba(16,16,16,0.4),
                1px 22px 10px rgba(16,16,16,0.2),
                1px 25px 35px rgba(16,16,16,0.2),
                1px 30px 60px rgba(16,16,16,0.4);
            }
        </style>

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <main id="app">
            <h1>Hi every one!</h1>
            <div class="plate">
                <p class="script"><span>butvin sergey</span></p>
                <p class="shadow text1">CHUNKY</p>
                <p class="shadow text2">BIG</p>
                <p class="shadow text3">STUFF</p>
                <p class="script"><span>with CSS</span></p>
            </div>
            <span class="text-title-shadow">Pizda</span>
        </main>
        {% block body %}{% endblock %}
    </body>
</html>
