<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        <style>
            html {
            }
            body {
            @import url('https://fonts.googleapis.com/css?family=Sarpanch:900');
                display: grid;
                grid-template-areas: ". . ." ". text ." ". . .";
                grid-template-rows: 1fr auto 1fr;
                grid-template-columns: 1fr auto 1fr;
                height: 100vh;
                width: 100vw;
                margin: 0;
                overflow: hidden;
                /*background-color: #c4c4c4;*/
                background-image: radial-gradient(circle, #333333, #222222);
            }
            h1 {
                color: #111;
                font-family: 'Helvetica Neue', sans-serif;
                font-size: 120px;
                font-weight: bold;
                letter-spacing: -1px;
                line-height: 1;
                text-align: center;
            }
            h1 {
                transform: skew(-12deg) rotate(-12deg);
                grid-area: text;
                font-family: 'Sarpanch', sans-serif;
                font-size: 20vmin;
                margin: 0;
                padding: 30px;
                color: #1d9099;
                text-shadow: 1vmin 1vmin 0 #E79C10, -1vmin -1vmin 0 #D53A33;
            }
            h2 {
                color: #111;
                font-family: 'Open Sans', sans-serif;
                font-size: 30px;
                font-weight: 300;
                line-height: 32px;
                margin: 0 0 72px;
                text-align: center;
            }
            p {
                color: #685206;
                font-family: 'Helvetica Neue', sans-serif;
                font-size: 14px;
                line-height: 24px;
                margin: 0 0 24px;
                text-align: justify;
                text-justify: inter-word;
            }
            .text-title-shadow {
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%,-50%);
                text-transform: uppercase;
                font-family: 'Verdana', monospace;
                font-size: 12em;
                font-weight: 700;
                color: #f5f5f5;
                text-shadow: 1px 1px 1px #919191,
                1px 2px 1px #919191,
                1px 3px 1px #919191,
                1px 4px 1px #919191,
                1px 5px 1px #919191,
                1px 6px 1px #919191,
                1px 7px 1px #919191,
                1px 8px 1px #919191,
                1px 9px 1px #919191,
                1px 10px 1px #919191,
                1px 18px 6px rgba(16,16,16,0.4),
                1px 22px 10px rgba(16,16,16,0.2),
                1px 25px 35px rgba(16,16,16,0.2),
                1px 30px 60px rgba(16,16,16,0.4);
            }
        </style>

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <main>
            <h1>Hi every one!</h1>
            <span class="text-title-shadow">Pizda</span>
        </main>
        {% block body %}{% endblock %}
    </body>
</html>
